.center{
    justify-content: center;
    display: grid;
    padding-top: 5em;
}

form{
    text-align: right;
}

input {
    height: 40px;
    width: 150px;
    font-size: 20px;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    background: border-box;
    text-align: inherit;
}

span {
    color: darkred;
}

.list{
    font-size: 20px;
}

a {
    font-size: 20px;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    background: border-box;
    text-align: inherit;
    -webkit-appearance: button;
    -moz-appearance: button;
    color: initial;
}
