table.menu {
    justify-content: center;
    display: flex;
    padding-top: 5em;
}

.menu input {
    height: 40px;
    width: 85px;
    font-size: 20px;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    background: border-box;
    text-align: inherit;
}

.menu span {
    color: darkred;
}

.menu a {
    font-size: 20px;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    background: border-box;
    text-align: inherit;
    -webkit-appearance: button;
    -moz-appearance: button;
    color: initial;
}
