{{> header}}

<form action="/v1/create" class="center">
    <label for="storageName">
        Store name:<input type="text" name="storageName" id="storageName"><br>
    </label>
    <label for="entry">
        Entry:<input type="text" name="entry" id="entry"><br>
    </label>
    <label for="submit">
        <input type="submit" name="submit" value="Add entry" id="submit"><br>
    </label>
</form>

{{> footer}}
