{{> header}}

<table class="center">
    <tr>
        <td><a href='create'><span>C</span>reate</a></td>
    </tr>
    <tr>
        <td><a href='read'><span>R</span>ead</a></td>
    </tr>
    <tr>
        <td><a href='update'><span>U</span>pdate</a></td>
    </tr>
    <tr>
        <td><a href='delete'><span>D</span>elete</a></td>
    </tr>
</table>

{{> footer}}
